@import url("https://use.typekit.net/hou6asi.css");

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'source-sans-pro', sans-serif;
    background-image: url('./images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

:root {
    --bar-width: 40px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 200px;
    
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: "";
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 20px;
}

.hamburger-menu input {
    content: "";
    width: 28px;
    height: 4px;
    background-color: #fff;
    border-radius: 20px; 
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    position: absolute;
    top: 15px;
    left: 15px; 
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
    outline: none;
}

.hamburger-menu:has(input:checked) {
    opacity: 0;
    width: 0;
}