@import url("https://use.typekit.net/hou6asi.css");

*,
*::after,
*::before {
    --primary-color: #071629;
    --accent-color: #979797;
    --secondary-color: #C271FF;
    --font: "source-sans-pro", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-image: url('./assets/hero-image.png');
    background-repeat: no-repeat;
    object-fit: cover;
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 160px;
    margin-right: 650px;
    margin-left: 166px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#hero-section {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 180px 0;
}

#hero-section h1 {
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 120px;
    margin-bottom: 0px;
    text-align: center;
}

.span-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.span-items span {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.register-button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#pros-container {
    margin-top: 170px;
}

.hero-profiles {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 215px;
    margin-right: 215px;
}

.hero-profile {
    text-align: center;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hero-profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hero-profile h3 {
    font-size: 18px;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#pros-container h2>span,
#tutorials-section h2>span,
#membership-section h2>span {
    color: #C271FF;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#pros-container h2,
#membership-section h2 {
    color: #ffffff;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
}

#tutorials-section h2,
#faq-section h2 {
    color: #000000;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hero-profile p {
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
}

#testimonials {
    background-color: #C271FF;
    height: 392px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -115px;
    padding: auto;
}

.testimonial-avatar img {
    margin-right: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.quote-div h3 {
    color: #ffffff;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
    font-size: 22px;
}

.quote-div p,
blockquote {
    color: #ffffff;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

.quote-div p {
    font-style: italic;
}

section.videos_list {
    padding-block: 87px;
    text-align: center;
    min-height: 624px;
    max-width: 1112px;
    margin: auto;
}

section.videos_list h2 {
    font-size: 32px;
    font-weight: 300;
    color: #071629;
    margin-bottom: 87px;
}

section.video_list h2 span {
    color: var(--primary-color);
    font-weight: 600;
}

.video_cards_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.videos_list .video_card {
    margin-right: 5px;
    width: 255px;
    height: 335px;
    overflow: hidden;
    border-radius: 4px;
    padding: 0px;
    text-align: left;
    position: relative;
    border: 2px;
    box-shadow: 0 1px 1px rgba(238, 238, 238, 0.98);
    justify-content: center;
}

section.videos_list .video_card:not(#playBTN, .video_list_video) {
    padding-left: 20px;
    padding-right: 20px;
}

section.videos_list>div:last-child {
    margin-right: 0;
}

section.videos_list .video_card>img {
    width: calc(100% + 20px);
    height: 154px;
    margin-left: -10px;
}

section.videos_list .video_card>#playBTN {
    background: url('./assets/play.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
}

section.videos_list .video_card h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin-block: 8px;
}

section.videos_list .video_card>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
}

section.videos_list .video_card>div {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin: 5px 0 10px;
}

section.videos_list .video_card>div:not(.stars) {
    margin-block: 10px;
}

section.videos_list .video_card div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section.videos_list .video_card div h4 {
    font-size: 14px;
    font-weight: 600;
    color: #C271FF;
    margin-right: 30px;
}

section.videos_list .video_card div div {
    width: max-content;
}

section.videos_list .video_card div div i {
    font-size: 12px;
    color: #C271FF;
}

section.videos_list .video_card div div:last-child i {
    color: #979797;
}

section.videos_list .video_card > p:last-child {
    font-size: 14px;
    font-weight: 600;
    color: #C271FF;
    display: inline-block;
    width: max-content;
    float: right;
    margin: 5px 0 10px;
}


#membership-section {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.membership-div h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
    margin-top: 20px;
}

.membership-div h2 span {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 600;
}

.membership-div h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.membership-div p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 2;
}

.membership-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.membership-cards {
    margin: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.membership-cards img {
    margin-bottom: 20px;
}

section.FAQ{
    padding-block:64px 84px ;
    max-width: 930px;
    margin: auto;
}
section.FAQ h2{
    font-size: 60px;
    font-weight: 300;
    color: #071629;
    margin-bottom: 74px;
    text-align: center;
}
section.FAQ .FAQ_cards_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 74px 220px;
}
section.FAQ .FAQ_cards_container .FAQ_card{
    width: calc(50% - 220px);
    min-width: 350px;
}
section.FAQ .FAQ_cards_container .FAQ_card h3{
    font-size: 16px;
    font-weight: 700;
    color: #071629;
    margin: auto;
    margin-bottom: 30px;
    width: 350px;
}
section.FAQ .FAQ_cards_container .FAQ_card > div:last-child{
    font-size: 14px;
    font-weight: 500;
    color: #0716297c;
    width: 350px;
    margin: auto;
}

footer{
    background-color: #071629;
    padding-block: 95px 39px;
    height: 249px;
}

footer section{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    max-width: 1060px;
    margin: auto;
}

footer section > div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

footer section > div > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

footer section > div > div i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #071629;
    font-size: 14px;
    text-align: center;
    padding: 8px;
}

footer section > div > div i:first-child {
    margin-left: auto;
}

footer section > p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}